<%= page_title t('sessions.login.title'), :h2 %>
<p><%=  t('sessions.login.paragraph') %></p>
<% form_tag session_path do %>
	<fieldset>
		<legend><%=  t('sessions.login.details') %></legend>
		<ol>
			<li>
				<%= label_tag 'login', t('sessions.login.username') %>
				<%= text_field_tag 'login', @login, :class => "text-box"  %>
			</li>
			<li>
				<%= label_tag t('sessions.login.password') %>
				<%= password_field_tag 'password', nil, :class => "text-box"  %>
			</li>
			<li>
			  <%= check_box_tag 'remember_me', '1', @remember_me %>
				<%= label_tag 'remember_me', t('sessions.login.remember_me') %>
			</li>
		</ol>
	</fieldset>
	<fieldset>
		<legend><%=  t('sessions.login.loginopenid') %></legend>
		<ol>
			<li>
				<%= label_tag 'openid_url', 'OpenID URL' %>
				<%= text_field_tag 'openid_url' %>
			</li>
		</ol>
	</fieldset>
	<div class="buttons">
		<%= submit_tag t('sessions.login.login') %>
		<%= link_to t('sessions.login.lostpassword'), forgot_password_path %>
	</div>
<% end -%>
