<% @user.password = @user.password_confirmation = nil %>
<%= page_title t('users.page_title'), :h2 %>
<% form_for @user do |f| %>
	<%= f.error_messages %>
	<fieldset>
		<legend><%=  t('users.details') %></legend>
		<ol>
			<li>
				<%= f.label :login, t('users.username') %>
				<%= f.text_field :login %>
			</li>
			<li>
				<%= f.label t('users.email') %>
				<%= f.text_field :email %>
			</li>
			<li>
				<%= f.label t('users.password') %>
				<%= f.password_field :password %>
			</li>
			<li>
				<%= f.label :password_confirmation, t('users.confirm_password') %>
				<%= f.password_field :password_confirmation %>
			</li>
		</ol>
	</fieldset>
	<fieldset>
		<legend><%=  t('users.signup_title') %></legend>
		<ol>
			<li>
				<label for="openid_url">OpenID URL</label>
				<%= text_field_tag :openid_url, params[:openid_url] || params['openid.identity'] %>
			</li>
		</ol>
	</fieldset>
	<div class="buttons">
		<%= submit_tag t('users.signup_button') %>
	</div>
<% end %>
